/* Estilo general */
.header {
    background-color: #14826f;
    text-align: center;
    color: white;
    padding: 0.5rem; /* Reduce el padding para hacer el header más delgado */
    border-bottom: 3px solid #000;
}

.header h1 {
    font-size: 2em; /* Reduce el tamaño del texto */
    margin: 0;
}

.header p {
    font-size: 1em; /* Ajusta el tamaño de la descripción si es necesario */
    margin: 0;
    font-style: italic;
}

.header-text {
    color: black;
    font-size: 18px; /* Reduce ligeramente el tamaño del texto del título */
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap; /* Para dispositivos pequeños */
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #025cc9;
}

.content {
    flex: 1;
    padding: 1rem;
    order: 2;
    height: 85vh; /* Asigna una altura fija o máxima */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical */
}

.content section {
    margin-bottom: 2rem;
}

.nav-buttons {
    margin-top: 10px; /* Reduce el margen superior */
}

.nav-buttons a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 25px;
    font-size: 1em;
    color: #000000;
    border: 1px solid #000;
    background-color: #9ab5b0;
    border-radius: 23px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-buttons a:hover {
    background-color: #868f8d;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.nav-buttons a img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar.left {
    order: 1;
}

.sidebar.right {
    order: 3;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

#searchInput {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#noResults {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .header {
        text-align: center;
        padding: 0.5rem; /* Reduce el padding también en pantallas pequeñas */
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-buttons a {
        margin: 5px 0;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 1rem;
    }

    .content {
        order: 1;
    }

    .sidebar.right {
        order: 2;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        width: 150px;
    }

    .content {
        padding: 0.5rem;
    }
}
