.header {
    background-color: #117362;
    color: black;
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #4CAF50;
}

.content {
    flex: 1;
    padding: 1rem;
}

.content section {
    margin-bottom: 2rem;
}

.header {
    background-color: #117362;
    color: white;
    padding: 1rem;
    border-bottom: 2px solid #000;
}
.header h1 {
    font-size: 2.5em;
    margin: 0;
}
.header p {
    font-size: 1.2em;
    margin: 0;
    font-style: italic;
}

.header-text {
	color: black;
	font-size: 20px;
}

.nav-buttons {
    margin-top: 15px;
}
.nav-buttons a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.nav-buttons a img {
    width: 20px; /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción */
    vertical-align: middle; /* Centra la imagen verticalmente dentro del botón */
}


.nav-buttons a:hover {
    background-color: #e0e0e0;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.left {
    order: 1;
}

.sidebar.right {
    order: 3; /* Coloca este contenedor a la derecha */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Cambia la sombra para ajustarse */
}

.content {
    flex: 1;
    padding: 1rem;
    order: 2;
}
