@font-face {
  font-family: 'AsapMedium';
  src: url('../fonts/Asap/ttf/Asap-Medium.ttf') format('truetype');
}

* {
  font-family: 'AsapMedium', sans-serif;
}

.sidebar.right a.highlight {
  background-color: yellow;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
}
